pytesseract==0.3.6
python_docx==0.8.10 
chirptext==0.1a19 #Install the ython 3 version of this one and line 4 
puchikarui==0.1a3
SudachiPy==0.5.1
pykakasi==2.0.4
lxml==4.5.2
docx2txt==0.8
docx==0.2.4
Image==1.5.33
Pillow==8.1.0
PySimpleGUI==4.34.0
Flask==1.1.2
Selenium==3.141.0
gunicorn==20.0.4
dartsclone==0.9.0
sudachidict_full
cython==0.29.21
sortedcontainers==2.1.0
#removed jamdict 