Cython==0.29.21
docx==0.2.4
docx2txt==0.8
Flask==2.0.2
#jamdict==0.1a7
#jamdict-data==1.5
Jinja2==3.0.2
lxml==4.7.1
packaging==21.3
#Pillow==8.2.0 Development
puchikarui==0.1a3
pytesseract==0.3.8
python-docx==0.8.11
#selenium==4.1.0 Development
SQLAlchemy==1.4.26
sqlparse==0.4.2
SudachiDict-core==20211220
SudachiPy==0.6.2
wheel==0.37.1
